*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family : sans-serif, 'Times New Roman', Times, serif;
    
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(./back-image.png);
    background-size: cover;
    background-position: center ;
    overflow: hiddem;
    padding: 10px 10%;
    position: relative;
  
}

nav{
    padding:10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 15px
}
nav ul li a{
    text-decoration: none;
    color: #332;
    font-weight: 400;
}

.Login-btn{
    text-decoration: none;
    color: #332;
    margin-right: 15px;
    font-weight: 400;
}

.btn{
 display:inline-block;
 background-color: #df4881;
 padding: 14px 40px;
 color: #ffffff;
 background-image: linear-gradient(45deg, #df4881 #c430d7);
 background-size: contain;
 font-size: 14px;
 border-radius: 30px;
 border-top-right-radius: 0;
 transition: .5s;
}

.btn a{
    text-decoration: none;
}






.container{
    margin-top: 15%;
    max-width: 600px;
    
}
.container h1{
    font-size: 70px;
    color: #222;
}
.container p{
    margin: 10px 0 30px;
    color: #333;
}
.container .btn{
    padding: 15px 80px;
    font-size: 16px;

}
.btn :hover{
    border-top-right-radius: 30px;
}


.Feature-img{
    position: absolute;
    height: 550px;
    right: 10%;
    bottom: 0;
}